/* Estilo do formulário */
form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilo dos labels */
  form label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    color: #333;
  }
  
  /* Estilo dos inputs e selects */
  form input,
  form select {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
  }
  /* Estilo do botão */
  form button {
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    background-color: #ff5022;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  form button:hover {
    background-color: #ee3f13;
  }
  
  /* Estilo do erro */
  form p {
    color: red;
    font-weight: bold;
    font-size: 0.9rem;
    margin: 0;
  }
  
  /* Estilo do resultado */
  div h2 {
    margin-top: 2rem;
    text-align: center;
    color: #ff5100;
  }
  .s{
    color: red;
    font-weight: bold;
    font-size: 0.9rem;
    margin: 0;
  }
  
  div pre {
    background-color: #f3f3f3;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow-x: auto;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 2px;
    text-align: center;
  }
  
  th {
    background-color: #f4f4f4;
    font-weight: bold;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tr:hover {
    background-color: #f1f1f1;
  }
  .b {
    width: 45%; 
    margin-right: 10px; 
  }
  
  .buttons-container {
    display: flex;
    justify-content: center; 
    gap: 10px; 
    margin-top: 20px;
    margin-left: 10px;
  }
  #d{
    height:800px;overflow:auto;
  }
  